{% extends "layout.html" %}

{% block content %}
<script src="{{ url_for('static', filename = 'lookup.js') }}"></script>

<div class="container">
  <!-- Header -->
  <header class="w3-container w3-green w3-center" style="padding:128px 16px">
    <h1 class="w3-margin w3-jumbo">Select A Store Near You</h1>
   <p class="w3-xlarge">Enter Your Zipcode</p>
   <form name = "zip" action="/upload_select_store" method="post">
        Zipcode: <input type="text" name="zip">
        <input type="submit" value = "Submit">
    </form>
  </header>

</div>


{% endblock %}